/**
 * @file
 * Styles for the pgn calendar form.
 */

.pgn-pdfcalendar-form-frame .pgn-image {
  width: 240px;
}

.pgn-pdfcalendar-form-frame .pgn-form {
  margin-bottom: 10px;
}

.pgn-pdfcalendar-form-frame .pgn-image,
.pgn-pdfcalendar-form-frame .pgn-form {
  float: left;
}

.form-item-main-date-start,
.form-item-main-date-end,
.form-item-exam-date-start,
.form-item-exam-date-end {
  width: 120px;
  float: left;
}

.form-item-main-date-start .description,
.form-item-exam-date-start .description {
  color: #aaa !important;
}
