/**
 * Styling for the week calendar.
 */

h1 {
  font-family: 'pgnsansblackb';
  text-align: center;
}

.updated {
  text-align: right;
}

.period {
  text-align: center;
}

.day {
  font-family: 'pgnsansblackb';
  border-bottom: 1px solid #000000;
  font-size: 14pt;
  font-weight: bold;
  padding-top: 20px;
}

.calendar-short {
  text-align: center;
  font-family: courier;
  color: #000;
}
