/**
 * @file
 * Styling for the exam calendar.
 */

h1 {
  font-family: 'pgnsansblackb';
  text-align: center;
}

h2 {
  font-family: 'pgnsansblackb';
  font-size: 12pt;
}

.updated {
  text-align: right;
}

.period {
  text-align: center;
}

.month {
  font-family: 'pgnsansblackb';
  border-bottom: 1px solid #000;
}

.calendar-short {
  font-family: courier;
  font-size: 10pt;
  color: #000;
  text-align: center;
}

.day {
  font-size: 10pt;
  text-align: center;
}

.day-word {
  font-size: 10pt;
  text-align: center;
}

.title {
  font-size: 10pt;
}

tr {
  border-bottom: 1px solid #000;
}
