/**
 * Styling for the main calendar.
 */

.year {
  font-family: 'pgnsansblackb';
  font-size: 40pt;
}

.month {
  font-family: 'pgnsansblackb';
  border-bottom: 1px solid #000;
}

.week {
  font-family: 'pgnsansblackb';
  font-size: 10pt;
  border-bottom: 0.5px solid #000;
}

blockquote {
  font-size: 9pt;
}

p {
  text-align: left;
}

.calendar-short {
  font-family: courier;
  font-size: 7pt;
  font-weight: bold;
  color: #333;
}

.color {
  color: white;
}

.date {
  font-size: 10pt;
}

.where {
  font-size: 8pt;
}

.content {
  font-size: 7pt;
}

.calendar-summary {
  font-size: 7pt;
}

.link-text {
  font-size: 8pt;
}

.holiday {
  border: 1px solid #000;
  font-size: 10pt;
}
