/**
 * @file
 * Styling for all PDF calendars.
 */

h1 {
  text-align: center;
  font-family: 'pgnsansblackb';
}

.where {
  font-size: 10pt;
}

.content {
  font-style: italic;
  font-size: 10pt;
}

.explanation-table {
  font-size: 4pt;
}

.explanation-table .responsible {
  font-style: italic;
}

.caption {
  border-bottom: 0.5px solid #000;
  font-weight: bold;
  font-size: 10pt;
}

.calendar-summary {
  font-size: 8pt;
}
